.error {
    color: red;
    display: none;
}

.clear{
    background: transparent;
    border: none;
    color: darkslategray;
    font-size: 10px;
}

form {
    width: 300px;
}
input {
    border: none;
}
input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}
input,
button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}


.solid {
    background: white;
    border: none;
    color: rgb(45, 211, 111);
   padding: 10px;
   width: -webkit-fill-available;
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

button {
    margin-bottom: 10px;
}
 
.form-field {
    margin-bottom: 10px;
}