html, body {

    height:100%
    
    }
    
    #tst{
    
    position:absolute;
    
    bottom:0;
    
    width:100%;

 margin-left: 64%;
 margin-bottom: 10px;
    
    }

    #tsts{
    
        position:absolute;
        
        bottom:10;
        
        width:100%;
    
     margin-left: 4%;
     margin-top: 25px;
        
        }